@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(242, 241, 241);
  padding: 2rem;
  height: 100vh;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
}

.welcome {
  font-size: 25px;
  font-weight: 500;
  margin: 20px;
}

.login {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  line-height: 15vh;
  justify-content: center;
  background: white;
  border-radius: 20px; /* Rounded corners */
  position: relative;
  z-index: 0;
  background: rgb(218, 218, 218);
}

.login::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 3px; /* Border width */
  border-radius: 20px; /* Must match .element */
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,31,255,1) 100%);
  mask: linear-gradient(white 0 0) content-box, linear-gradient(white 0 0);
  mask-composite: exclude;
  -webkit-mask: linear-gradient(white 0 0) content-box, linear-gradient(white 0 0);
  -webkit-mask-composite: xor;
  z-index: -1;
}

.logo{
  height: 30%;
  width: 30%;
  margin-bottom: 50px;  
}

.new-logo{
  height: 8%;
  position: absolute;
  left: 60rem;
  margin-right: 80px;
  margin-top: -12px;
}

.login-input {
  border: none;
  padding: 0.5rem 2rem;
  font-size: 1.6rem;
  font-family: inherit;
  border-radius: 13px;
  border: 1px solid rgb(194, 194, 194);
  background-color: white;
  height: 28px;
  text-align: center;
  width: 20rem;
  transition: all 0.3s;
  margin-bottom: 10px;
}

.login_btn {
  border: none;
  background: none;
  border-radius: 20px;
  text-align: center;
  border: 1px solid rgb(194, 194, 194);
  background-color: white;
  width: 70px;
  height: 30px;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  transition: all 0.3s;
}

.login_btn:hover, .login-input:focus {
  background-color: aliceblue;
  outline: none;
}

.incorrect-credentials{
  color: red;
  font-size: 14px;
  display: "none";
  line-height: 4;
}

.new-navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  
}

.new-login{
  display: flex;
}

.app {
  /* position: relative; */
  max-width: 100rem;
  margin: 1rem auto;
  display: grid;
  /* align-items: center; */
  grid-template-columns: 4fr 3fr;
  grid-template-rows: auto repeat(3, 15rem) auto;
  gap: 2rem;

  /* Note this creates the fade in/out animation */
  opacity: 0;
  transition: all 1s;
}

.balance {
  grid-column: 1 / span 2;
  /* position: fixed; */
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 2rem;
  color: rgb(60, 60, 60);
}

.balance_label {
  font-size: 35px;
  font-weight: 500;
  margin-bottom: -0.2rem;
}

.balance_date {
  font-size: 1.4rem;
  color: #888;
}
.balance_value {
  font-size: 50px;
  /* margin-right: 5rem; */
  /* margin-bottom: 2rem; */
  font-weight: 500;
  color: rgb(60, 60, 60);
}
/* movements */
.movements {
  grid-row: 2 / span 3;
  overflow: scroll;
  background-color: #fff;
  border-radius: 1rem;
}

.movements_row {
  padding: 2.25rem 1rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.movements_type {
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 500;
  border-radius: 10rem;
  margin-right: 2rem;
  padding: 0.1rem 1rem;
  color: #fff;
}

.movements_date {
  font: 1.3rem;
  text-transform: uppercase;
  font-weight: 500;
}

.movements_type--deposit {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.movements_type--withdrawal {
  background-image: linear-gradient(to top left, #d34048, #ff3535);
}

.movements_value {
  display: flex;
  justify-content: flex-end;
  font-size: 1.7rem;
  margin-left: auto;
}

.summary {
  grid-row: 5 / 6;
  display: flex;
  align-items: baseline;
  padding: 0 0.3rem;
  margin: 1rem;
}

.summary_label {
  text-transform: uppercase;
  font-size: 1.1rem;
  color: grey;
  margin-right: 0.8rem;
}

.summary_value {
  font-size: 2.2rem;
  margin-right: 2.5rem;
}

.summary_value--in,
.summary_value--interest {
  color: #39b385;
  /* margin-right: 0.8rem; */
}
.summary_value--out {
  color: #d34048;
}
.btn--sort {
  margin-left: auto;
  border: none;
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
  text-transform: uppercase;
  background: none;
}

.operation {
  border-radius: 1rem;
  padding: 3rem 4rem;
  color: #333;
}

.operation--transfer {
  background-image: linear-gradient(to top left, #ffb003, #ffcb03);
}

.operation--loan {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.operation--close {
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}

h2 {
  margin-bottom: 1.5rem;
  font-size: 1.7rem;
  font-weight: 500;
  color: #333;
}

.form {
  display: grid;
  grid-template-columns: 2.5fr 2.5fr 1fr;
  grid-template-rows: auto auto;
  gap: 0.4rem 1rem;
}

/* Exceptions for interst */
.form.form--loan {
  grid-template-columns: 2.5fr 1fr 2.5fr;
}
.form_label--loan {
  grid-row: 2;
}
/* End exceptions */

.form_input {
  width: 100%;
  border: none;
  background-color: #c1c0c0;
  font-family: inherit;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 0.7rem;
  padding: 0.3rem 1rem;
  transition: all 0.3s;
}
.form_input:focus {
  outline: none;
  background-color: #fff;
}
.form_label {
  font-size: 1.3rem;
  text-align: center;
}
.form_btn {
  border: none;
  border-radius: 1rem;
  font-size: 1.8rem;
  cursor: pointer;
  transition: all 0.5s;
}

.form_btn:focus {
  outline: none;
}

.logout-timer {
  padding: 0 0.3rem;
  margin-top: 1.9rem;
  text-align: right;
  font-size: 1.25rem;
}

.timer {
  font-weight: 600;
}
